
.contact-page{
  .section-1{  
    .contactAddress{
      h6,a{
        display:block;
        line-height: 1.2 !important;
      }
    }

    .contactForm{
      form{
        input,textarea{
          background-color: #EFE0C6;
          border: 1px solid #473838;
          box-shadow: none;
          color: #999;
          display: block;

          &:focus{
            border: 1px solid #999;
            color: #473838;
            background: #EFE0C6 url("../img/bg_cnt.png") repeat scroll 0% 0%;
          }
        }
        ::-webkit-input-placeholder{
          color:#999;
        }
        textarea{min-height: 200px;}
      }
    }

    .location-map{
      width: 100%;
      height: 100%;
      margin-top: 50px;
      @media only screen and (max-width: 40em) {margin: 25px 0 !important;}
    }
    .location-map #map {
      height:500px;
      @media only screen and (max-width: 40em) {height: 350px;}
    }
  }
}

